.board{
    width: 500px;
    height: 500px;
    display: grid;

}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.board{
    border-style: solid;
    border-width: 3px;
    border-color:black;
}
.title{
padding-bottom: 50px;    
    
}
